@model IEnumerable<myGP.Models.Request_Candidates>




<table>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" onclick="onAddRow()">الرقم القومي</th>
            <th scope="col">رقم الموبايل</th>
            <th scope="col">البريد الإلكتروني</th>
            <th scope="col">الوثائق المطلوبة</th>
            <th scope="col">حالة الطلب</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

        <tr>
            <th scope="row">jjjj</th>
            <td>@item.National_id</td>

            <td>@item.Email</td>
            <td>@item.Phone</td>
            <!--  <td><a target="_blank" href="https://www.sis.gov.eg/Newvr/election2.pdf" class="stretched-link">الوثائق المطلوبة</a></td>
    -->
            <td>
                <select class="form-control form-control-sm">
                    <option selected disabled>--اختر الحالة--</option>
                    <option>مقبول</option>
                    <option>مرفوض</option>
                </select>
            </td>
        </tr>
        }
    </tbody>
</table>









<!--@{
    ViewBag.Title = "manageCandidate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>الإدارة</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/adminLoginSS.css">
</head>

<body>

    <h2 style="text-align: center; color: #464343; margin-top: 50px; margin-bottom: 40px;">إدارة المرشحين للرئاسة   </h2>

    <div class="table-responsive" style="margin-top:60px; margin-bottom:60px;">
        <table class="table table-hover" DIR="RTL">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" onclick="onAddRow()">الرقم القومي</th>
                    <th scope="col">رقم الموبايل</th>
                    <th scope="col">البريد الإلكتروني</th>
                    <th scope="col">الوثائق المطلوبة</th>
                    <th scope="col">حالة الطلب</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>@TempData["national_id"]</td>
                    <td>@TempData["phone"]</td>
                    <td>@TempData["email"]</td>
                    <td><a target="_blank" href="https://www.sis.gov.eg/Newvr/election2.pdf" class="stretched-link">الوثائق المطلوبة</a></td>
                    <td>
                        <select class="form-control form-control-sm">
                            <option selected disabled>--اختر الحالة--</option>
                            <option>مقبول</option>
                            <option>مرفوض</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>29810220100163</td>
                    <td>01298736654</td>
                    <td>ahmed_khaledd@gmail.com</td>
                    <td><a target="_blank" href="https://www.sis.gov.eg/Newvr/election2.pdf" class="stretched-link">الوثائق المطلوبة</a></td>
                    <td>
                        <select class="form-control form-control-sm">
                            <option selected disabled>--اختر الحالة--</option>
                            <option>مقبول</option>
                            <option>مرفوض</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>29611290101052</td>
                    <td>01004532145</td>
                    <td>osama.soliman@gmail.com</td>
                    <td><a target="_blank" href="https://www.sis.gov.eg/Newvr/election2.pdf" class="stretched-link">الوثائق المطلوبة</a></td>
                    <td>
                        <select class="form-control form-control-sm">
                            <option selected disabled>--اختر الحالة--</option>
                            <option>مقبول</option>
                            <option>مرفوض</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <script>

        </script>
    </div>
</body>
    -->
